html {
    scroll-behavior: smooth;
}



/* Scroll to top styles */
.to-top {
    background-color: var(--white);
    color: var(--dark-green);
    font-size: 32px;
    position: fixed;
    bottom: 16px;
    right: 32px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}


.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}






/* Nav styles*/
nav ul li a {
    text-decoration: none; /* Remove underline for all of them */
     }

     #homeButton {
        color: var(--dark-green);
      }
      

nav ul {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    padding-top: 30px; /* Add padding above the links */
    padding-bottom: 30px; /* Add padding below the links */
    padding-right: 52px;
    list-style: none;
    font-weight: 300;

  }
  
  nav li {
    margin-left: 40px; /* Creates space between items */
  }
  


/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--dark-green); /* Text color */
    background-color: transparent;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F6EE; /* Background color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
    z-index: 1;
    border-radius: 10px;
  }
  
  /* Links inside the Dropdown */
  .dropdown-content a {
    color: var(--black); /* Text color */
    padding: 24px 100px 24px 24px;
    text-decoration: none;
    display: block;
    transition: font-weight 0.3s; /* Adding transition for smooth effect */
    font-weight: 300;
  }
  
  /* Change the link color on hover */
  .dropdown-content a:hover {
    font-weight: 500;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .book-button {
    background-color: var(--dark-green);
    color: var(--white);
    border-radius: 50px;
    padding: 12px 24px;
    text-decoration: none;
  }


  img {
    width: 100%;
    height: auto; 
    display: block; /* Ensure block display for responsiveness */
  }


  /* Header styles */
  .domen-cover {
    position: relative;
}

  .cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 24px 100px;
    color: var(--black);
    z-index: 1;
    text-align: center;
}

.bullets {
    font-size: 14px;
    text-align: center;
}



/* Buttons to sections styles */
.buttons-to-sections {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    text-align: center;
}


.buttons-to-sections :hover {
    font-weight: 600;
}

.buttons-to-sections button,
.buttons-to-sections .dot {
    vertical-align: middle;
}

.dot {
    padding-top: 15px;
}

.buttons-to-sections button {
    margin: 0 80px;
    padding: 10px 20px;
    background-color: var(--your-color);
    color: var(--black);
    font-size: var(--medium);
    font-weight: 300;
    border: none;
    cursor: pointer;
}






/* General information section styles*/
.general-info-wrapper {
    padding-top: 80px;
}

.general-info-section {
    background-color: var(--beige);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: left;
}

.general-info-section .info p {
    margin-bottom: 20px;
    line-height: 32.4px;
    color: var(--black);
}


/* Menu section styles*/
/* Common styles for both sections */
.menu-wrapper {
    padding-left: 150px;
    padding-bottom: 80px;
}


.menu-wrapper h6 {
    font-size: var(--big);
    font-weight: 300;
    padding-top: 80px;
    padding-bottom: 80px;
}

.image-container {
    display: flex;
    overflow-x: auto;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: auto;
    height: 200px;
    margin-right: 15px; /* Adjust spacing between image and text */
}

.image-item p {
    padding-top: 24px;
    font-size: 20px;
    text-align: center;
}

/* Specific styles for the coffee section */
.menu-coffee-section {
    background-color: var(--cream);
    margin-bottom: 40px; /* Adjust the space between sections */
}

.menu-coffee-section .image-item {
    margin-right: 12px; /* Adjust spacing between coffee images */
}

/* Specific styles for the rye bread section */
.menu-rye-bread-section {
    background-color: var(--cream);
}

.menu-rye-bread-section .image-item {
    margin-right: 24px; /* Adjust spacing between rye bread images */
}


/* Gallery styles */
.gallery-wrapper {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 80px;
    background-color: var(--light-green);
}

.gallery-wrapper h6 {
    font-size: var(--big);
    font-weight: 300;
    color: var(--black);
    padding-top: 80px;
    padding-bottom: 80px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
}

.image-gallery {
    width: calc((100% - 88px) / 3); /* To fit 3 items in a row with gaps */
    margin-bottom: 44px;
}

.image-gallery img {
    width: 390px;
    height: 550px;
    object-fit: cover; /* Maintain aspect ratio */
}



/* Sounds like your place styles */
.yourplace-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 150px;
    background-color: var(--light-green);
    display: flex;
    align-items: center;
}

.yourplace-text {
    flex: 1;
}



.yourplace-text h6 {
    font-size: var(--big);
    font-weight: 300;
    color: var(--black);
    padding-bottom: 36px;
}


.yourplace-book-button a {
    display: inline-block;
    padding: 16px 60px;
    background-color: var(--dark-green);
    border-radius: 50px;
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

.yourplace-photo {
    width: 595px;
    height: 483px;
}


/* Footer styles */
footer {
    margin-top: 80px;
  }

  .footer-container-domen {
    background-color: #314c05;
    color: var(--white);
    padding-left: 150px;
    padding-top: 80px;
    padding-bottom: 50px;

  }
  
  .footer-container-domen {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column-domen {
    flex: 1;
    text-align: center;
  }
  
  h5 {
    font-family: 'Be Vietnam Pro';
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .footer-column-domen p {
    font-size: 16px;
    font-weight: 150;
    line-height: 25.9px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .footer-column-domen a {
    color: var(--white);
  }




      /* Media query for devices between 600px and 768px */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    
    /* Scroll to top styles */
    .to-top {
        bottom: 32px;
        right: 16px;
    }

    /* Header styles */
    .plukk-cover .cover-text {
        padding: 20px;
        font-size: 18px;
    }

    .bullets {
        font-size: 12px;
    }

    /* Buttons to sections styles */
    .buttons-to-sections {
        flex-direction: column;
        margin-top: 40px;
    }

    .buttons-to-sections button,
    .buttons-to-sections .dot {
        margin: 10px;
    }

    /* General information section styles */
    .general-info-section {
        padding-left: 44px;
        padding-right: 44px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    /* Menu section styles */
    .menu-wrapper h6 {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .image-item img {
        height: 150px;
        margin-right: 44px;
    }

    .image-item p {
        font-size: 16px;
    }

    /* Gallery styles */
    .gallery-wrapper {
        padding-left: 20px; /* Adjust padding for smaller screens */
    }

    .image-gallery {
        width: 100%; /* Photos take full width on smaller screens */
        margin-bottom: 20px; /* Reduce margin for smaller screens */
    }


    /* Sounds like your place styles */
    .yourplace-wrapper {
        padding-left: 44px;
        padding-right: 44px;
        flex-direction: column;
    }

    .yourplace-text h6 {
        text-align: center;
        padding-top: 60px;
    }

    .yourplace-book-button {
        padding-bottom: 60px;
    }


    .yourplace-photo {
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }

    /* Footer styles */
    .footer-container-domen {
        display: block;
        padding-left: 24px;
    }

    .footer-column-domen h5 {
        text-align: center;
    }

    .footer-column-domen p {
        text-align: center;
        font-size: 14px;
        padding-bottom: 60px;
    }

    .yourplace-book-button a {
        padding: 16px 40px;
        font-size: 16px;
    }
}