/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Great Memories';
  src: url('/GreatMemoriesDemo.ttf') format('truetype');
}


/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --white: #F9F6EE;
    --black: #252525;
    --dark-green: #314C05;
    --light-green: #D7E2CB;
    --brown: #443024;
    --beige: #E9D7C7;
    --cream: #F9F5F0;


    /*========== Font family ==========*/
    --font-body: 'Be Vietnam Pro', sans-serif;
    --font-H1: 'Great Memories';

    /*========== Font size ==========*/
    --small: 1rem; /*16px*/
    --medium: 1.3rem; /*20px*/
    --big: 2.25rem; /*36px*/
    --huge: 4.5rem; /*72px*/

    /*========== Font weight ==========*/
    --font-thin: 100;
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
}
  
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
}

/*=============== HEADER ===============*/
header {
    background: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

h1 {
    color: var(--black);
    font-family: 'Great Memories';
    font-weight: var(--font-regular);
    font-size: var(--huge);
}

h4 {
  color: var(--black);
  font-family: 'Be Vietnam Pro';
  font-weight: 300;
  font-size: var(--huge) ;
}

p {
  font-size: var(--medium);
  font-weight: 300;
}